<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<title>Pesquisa de títulos</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-br and" href="#"> <img alt="Samorvell"
					src="/images/logo70x70.png">
				</a>
			</div>
		</div>
	</nav>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Novo título</h1>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data de vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class=" col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>


	<script src="/JS/jquery-3.4.1.min.js"></script>
	<script src="/JS/bootstrap.min.js"></script>
</body>
</html>