<!doctype html>
<html>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="pt-br" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="author" content="Samuel Amaro Silva" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="3 days" />
  <meta name="keywords" content="Ivan Oliveira" />
  <meta name="description" content="Ivan Oliveira" />
  <meta name="format-detection" content="telephone=no">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta http-equiv="cleartype" content="on">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Samorvell Tecnologias</title>

  <link href="imagens/favicon.ico" type="imagens/ico" rel="shortcut icon"/>
  <!--<link rel="stylesheet" href="essentials/css/style.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="CSS/lojavirtual.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <script type='text/javascript' src='http://code.jquery.com/jquery-latest.js'></script>
   

</head>
<body>
  <div class="header">
    
    <img onmouseover="GRANDE(this)" onmouseout="Pequena(this)" 
                              src="imagens/logo.png" width="100" height="100">

<script>
function GRANDE(x) {
    x.style.height = "200px";
    x.style.width = "200px";
}
function Pequena(x) {
    x.style.height = "100px";
    x.style.width = "100px";
}
</script>
    <h2>Em breve inauguração da Pet Shop Gato Doido</h2>
  </div>
  <section class="topo">
      <img class="em-breve" src="http://1.bp.blogspot.com/-Tgnq_uQQy0k/USgtVl7aCII/AAAAAAAAANo/NHyhndHldD8/s1600/construcao.png">
  </section>

  <section class="contruction">
    <div class="squad">
      <div class="desconto">
        <span><span>50%</span>desconto </span> <p>Para todo cadastro antecipado.<p>
      </div>
      <h5>
        Para receber essa e outras promoções cadastre-se
          <a href="cadastro.html" target="_blank">clicando aqui</a>!
      </h5>
      <p id="demo"></p>
    </div>
  </section>


</body>
  <script src="JavaScript/countdown_time.js"></script>
</html>
