@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{height:100%;}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100.01%;
    color: #191970;
    height:100%;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
section.topo{
    background-image: url("../imagens/petstore.jpg") ;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    padding-top: 50px;
}

ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;width:100%;}
label, button, input[type="submit"]{cursor:pointer;}
th{font-weight:normal}

a, a:visited, a:active, a:focus {text-decoration: none;}
a:hover {text-decoration: none;}

.none{display:none !important;}
.block{display:block !important;}

input, textarea, select {
    border: 1px solid #eee;
    background: #fff;
    font-size: 14px;
    outline:none;
    width:100%;
    padding:0 10px 0 10px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    height:36px;
    outline:none;
}
input::-webkit-input-placeholder {color:#666;}
input:-moz-placeholder {color:#666;opacity:1;}
input::-moz-placeholder {color:#666;opacity:1;}
input:-ms-input-placeholder {color:#666;}
textarea::-webkit-input-placeholder {color:#666;}
textarea:-moz-placeholder {color:#666;opacity:1;}
textarea::-moz-placeholder {color:#666;opacity:1;}
textarea:-ms-input-placeholder {color:#666;}
select::-webkit-input-placeholder {color:#666;}
select:-moz-placeholder {color:#666;opacity:1;}
select::-moz-placeholder {color:#666;opacity:1;}
select:-ms-input-placeholder {color:#666;}

textarea{height:106px;width:100%;padding: 10px;}

select{
    width: 100%;
    cursor: pointer;
    border-radius:0 !important;
    padding:0 38px 0 10px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    height: 50px;
    border: 1px solid #ddd;
    background: #fff url(../images/select.png) no-repeat right center;
    color: #555;
}
select::-ms-expand { display: none;}
select:focus { outline: none; }
select option{padding: 2px;}
input[type="radio"], input[type="checkbox"], button, input[type="submit"] {border:none !important;}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 19px;
}
input[type=radio] {display: none;}
label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #444;
}
.radio label:before {border-radius: 8px;}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #444;
    font-size: 36px;
    text-align: center;
    line-height: 18px;
}
input[type=checkbox] { display: none;}
.checkbox label:before { border-radius: 0px;}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #444;
    text-align: center;
    line-height: 15px;
}

::-webkit-input-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}


.transition, .transition:hover{
    -webkit-transition:all 0.3s ease-in-out ;
    -moz-transition:all 0.3s ease-in-out ;
    -ms-transition:all 0.3s ease-in-out ;
    -o-transition:all 0.3s ease-in-out ;
    transition:all 0.3s ease-in-out ;
}

::selection {background: #333;color: #eee;}
h2, h3, h4, h5 {font-weight: normal;}
strong, b{font-weight:normal;}

/*------------------------------------------------------------SPANS----------------------------------------------------------*/
span.clear{display:block; clear:both;height: 0;}
.clear:after{content:'';display:block;clear:both;}
span.space{display:block; margin:10px 0; height:1px; clear:both;}
/*------------------------------------------------------------ALIGN----------------------------------------------------------*/
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}
.alignJ{text-align:justify;}
/*--------------------------------------------------------------------FLOATS-----------------------------------------------------------*/
.right{float:right !important;}
.left{float:left !important;}
.center{display:block !important;margin-left:auto !important;margin-right:auto !important;}
.fnone{float:none !important;}

.comum-color{color:#666;text-shadow: 0 0 1px rgba(0,0,0, 0.2);}
.blackColor{color:#555;}
.relative{position:relative}
.squad{
    display:block;
    width:1760px;
    margin:0 auto;
}
/*--------------------------------------------------------------------RESET FINAL---------------------------------------------------------*/
/* -------------------------------------- */ @media screen and (max-width: 1600px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 1600px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 1440px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 1440px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 1366px) { /* -------------------------------------- */
}/* ---------------------------------------------- Fim Media max-width 1366px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 1280px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 1280px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 1024px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 1024px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 854px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 854px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 768px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 768px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 600px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 600px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 520px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 520px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (min-width: 480px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 480px ------------------------------------------------ */


/* -------------------------------------- */ @media screen and (max-width: 320px) { /* -------------------------------------- */


}/* ---------------------------------------------- Fim Media max-width 320px ------------------------------------------------ */


#demo {
    text-align:  center;
    font-size: 120px;
    color: #FF4500;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
}
#demo span {
    font-weight: bold;
}

img.em-breve {
    display: block;
    margin:  250px auto 0;
    width: 50%;
    align-items: center;

}
.header {
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .35);
  position: fixed;
  z-index: 10;
}

img.logo {
  display: inline-block;
  margin:  0 25px 0 0 ;
  width: 400px;
  vertical-align: top;
}

h2 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    width: calc(100% - 600px);
    display: inline-block;
    text-transform: uppercase;
    color: #f29329;
    text-shadow: 1px 4px 0 rgba(0, 0, 0, .6)
}

h5 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    color: #ddd;
}
h5 a{
    color:#f29329;
    font-weight: bold;

}
div.cadastro {
    height: 350px;
    width: 1000px;
}

div.em-breve {
    align: left;
    height: 500px;
    width: 700px;
}

#area
{
    background-color: lightblue;
    position:center;
    left:37%;
    top:29%;
    width:400px;
    height:700px;
}
#area #formulario
{
    background-color: lightgrey;
    position:absolute;
    display:block;
    width:500px;
    height:800px;
}
fieldset
{
    width:300px;
    height:250px;
}
legend
{
    font-style:bold;
    font-family: “Segoe UI”,”Arial”,”Times New Roman”;
}

section {
  min-height: 100%;
  padding-bottom: 40px;
}

section.contruction {
  background-color: #555;
  padding-top: 350px;
}

.desconto {
  width: 50%;
  display: block;
  margin:  0 auto;
  text-align:  center;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 70px;
}

  .desconto > span {
    width: 450px;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 116px;
    vertical-align: middle;
    transform: skew(-20deg, 0);
    text-shadow: 7px 7px 1px rgba(0, 0, 0, .5)
  }

  .desconto > span > span {
    display: block;
    font-size: 211px;
    font-family: 'Anton', sans-serif;
  }

  .desconto p {
    width: calc(100% - 480px);
    margin-left: 25px;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 70px;
  }
